{% extends 'post_image_app/base.html' %}

{% block title %}New Image{% endblock  %}

{% block body %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="my-5 pt-5 container text-center">
            <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h2 class="my-5 fw-bolder">Upload and image!</h2>
                <!-- {{ form.as_p }} -->
                <div class="input-group mb-3">
                    <input type="{{ form.image.field.widget.input_type}}" 
                    name="{{ form.image.name }}" 
                    required id="{{ form.image.id_for_label }}" 
                    class="form-control">
                    <!-- {{ form.image }} -->
                    <label class="input-group-text">Image</label>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Text:</span>
                    <textarea name="{{ form.text.name }}" 
                    cols="{{form.text.field.widget.attrs.cols}}" 
                    rows="{{form.text.field.widget.attrs.rows}}" 
                    maxlength="{{form.text.field.widget.attrs.maxlength}}" 
                    required id="{{ form.text.id_for_label }}" 
                    class="form-control"></textarea>
                    <!-- {{ form.text }} -->
                </div>
                <button type="submit" class="btn btn-lg btn-success my-4 w-100">Submit</button>
            </div>
        </div>
    </form>
{% endblock  %}